:root {
  --main-font:'Roboto', sans-serif ;
  --logo-font: 'Raleway', sans-serif;

  --theme-color-dark: #2f303a;
  --theme-color-light: #FFFFFF;
  
  --button-portfolio: #F5F4FA;
  --contact-color-footer: rgba(255, 255, 255, 0.6);
  --logo-color: #000000;
  --text-color-hover:#2196F3; 
  --text-color-primary: #757575;;
  --text-color-h: #212121;
  --modal-btn-hover: #188CE8;
}

body {
  color: var(--text-color-primary);
  letter-spacing: 0.03em;
  line-height: 1.17;
  font-size: 14px;
  font-weight: 500;
  font-family: var(--main-font);
 
}

.list {
  list-style: none;
}

a {
  text-decoration: none;
  font-style: normal;
}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Logo WebStdio*/
.logo {
  font-family: var(--logo-font);
  font-weight: 700;
  font-size: 26px;
  color: var(--logo-color);
}
.span {
  line-height: 1.38;
  color: var(--text-color-hover)
}
/*Nav-menu*/

.current {
  color: var(--text-color-hover);
}

.nav-menu {
  font-weight: 500;
  letter-spacing: 0.02em;
}

.nav-link{

  color:var(--text-color-h);
}

.contact-mail {
  color: var(--text-color-primary);
  }

.contact-number 
{ 
color: var(--text-color-primary);
}

.link:hover,
.link:focus {
  color: var(--text-color-hover);
}

.hero 
{
    background:var(--theme-color-dark);
}
  
  .title-hero {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color:var(--theme-color-light);
  }

.button-modal {
  width: 200px;
  height: 50px;
  cursor: pointer;
  font-weight: 700;
  letter-spacing: 0.06em;
  font-size: 16px;
  line-height: 1.88;
  
 color: var(--theme-color-light);

 background: var(--text-color-hover);
 box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
 border-radius: 4px;
}

.button-modal:hover,
.button-modal:focus {
  background-color: var(--modal-btn-hover);
}

.current {
  color: var(--text-color-hover);
}
/*Benefits*/ 

.benefits-title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  
  color: var(--text-color-h);
}

.benefits-descr {
  line-height: 1.71;

  
}

/*Works*/
.works-title {
  font-weight: 700;
  font-size: 36px;
  
  color: var(--text-color-h);
}

/*Team*/


.team{
  background-color: var(--button-portfolio);
}

.team-title {  
  font-weight: 700;
  font-size: 36px;
  
  color:var(--text-color-h);
}


.team-player-title {
font-size: 16px;

color: var(--text-color-h);
}

.team-player-descr {

font-size: 16px;

}

/*footer*/
.logo-footer
{
  font-family: var(--logo-font);
  font-weight: 700;
  font-size: 26px;
  color: var(--logo-color);
}
.span-f
{
  line-height: 1.38;
  color: var(--text-color-hover)
}
.text-addres
{
  line-height: 1.71;
  
  color:var(--theme-color-light);
}
.footer
{
  background: var(--theme-color-dark);
}

.logo-footer {
  color: var(--theme-color-light);
}

.contact-link {
  
  line-height: 1.71;
  
  
  color: var(--contact-color-footer);

}

.link-footer-map {
 color: var(--theme-color-light);
}

/*Portfolio */

.portfolio-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  cursor: pointer;

  border-radius: 4px;

  background: var(--button-portfolio);
  color: var(--text-color-h);

}

.portfolio-btn:hover,
.portfolio-btn:focus 
{
  background-color: var(--text-color-hover);
  color: var(--theme-color-light);
}

.cards-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: var(--text-color-h);
}

.cards-group {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
}