:root {
  --main-font:'Roboto', sans-serif ;
  --main-text-color: #2f303a;
  --text-color-hover:#2196F3; ;
}
.body {
  list-style: none;
  text-decoration: none;
  position: absolute;
  font-style: normal;
}
ul{
  list-style-type: none;
}
.list
{ 
  text-decoration: none;
  list-style-type: none;

}
a{
  list-style: none;
  text-decoration: none;
  list-style: none;
}
/* Logo WebStdio*/
.logo {
  text-decoration: none;
  position: absolute;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--main-text-color)
}
.span {
  line-height: 1.38;
  color: var(--text-color-hover)
}
/*Nav-menu*/

.nav-menu {
  display: inline;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--main-text-color)
}

.contact-number {
  
  list-style: none;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1,17;
  letter-spacing: 0.02em;
  color: #757575 
  
}/*
.list-contact{

}
.list {
}
.link {

}
.button {
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  line-height: 0;
}
/*
.contact-number:hover,
.contact-number:focus {
 
}

.description {
}

.description-theme-dark {
}
.modal-btn {
  background-color: var(--accent-color);
}

.modal-btn:hover,
.modal-btn:focus {
  
}
*/
/*
.hero {
  position: absolute;
  width: 1600px;
  height: 600px;
  top: 80px;
  background: #2f303a;
}
.title-hero {
  position: absolute;
  width: 696px;
  height: 120px;
  top: 280px;
  left: 452px;
  font-family: "roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
