:root {
  --main-font:'Roboto', sans-serif ;
  --secondary-font: ;
  --accent-color:;
  --main-text-color: #2f303a;
  --text-color-theme-dark: ;
}
.body {

}
a{
  text-decoration: none;
}
.list {
  list-style: none;
  padding: 0;
}
.link {
  color: inherit;
}
.button {
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  line-height: 0;
}
.nav-menu {
}
.nav-menu:hover,
.nav-menu:focus {
  color: beige;
}
.contact-number:hover,
.contact-number:focus {
  color: #2f303a;
  background-color: aqua;
}
/* comentar */
.description {
}

.description-theme-dark {
}
.modal-btn {
  background-color: var(--accent-color);
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: blue;
}
/*WebStdio*/
.logo {
  position: absolute;
  width: 145px;
  height: 31px;
  left: 215px;
  top: 24px;
  
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: #212121;
}
.span {
  line-height: 1.38;
  color: #2196F3;
}
/*.hero {
  position: absolute;
  width: 1600px;
  height: 600px;
  top: 80px;
  background: #2f303a;
}
.title-hero {
  position: absolute;
  width: 696px;
  height: 120px;
  top: 280px;
  left: 452px;
  font-family: "roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
